.Quiz {
    display: flex;
    justify-content: center;
    margin: 40px;
    color: goldenrod;
}
.quizStart {
    padding: 20px;
    border: 2px solid goldenrod;
    color: #fff;
    
    width: 600px;
    font-size: 2em;
}
.Quiz span {
    color: goldenrod;
}

.userProfile {
    padding: 20px;
    border: 2px solid goldenrod;
    color: #fff; 
    margin-left: auto;
    width: 600px;
    font-size: 2em;
}
.Quiz ul {
    font-size: 2em;
}
.Quiz li {
    list-style: none;
}
.top {
    background-color: rgb(48, 45, 45);
    border: 2px solid goldenrod;
    padding: 20px;
    border-radius: 25px;
    margin: 10px;
}