.Quiz {
    display: flex;
    justify-content: center;
    margin: 40px;
    color: goldenrod;
}
.quizStart {
    padding: 20px;
    border: 2px solid goldenrod;
    color: #fff;
    
    width: 600px;
    font-size: 2em;
}
.quizStart p {
    color: goldenrod;
}